__pycache__/

!learned_MLP/.gitkeep

result/
!result/.gitkeep

!scripts/.gitkeep

*log*/
*log*

same_loss/
offload/

wandb/

pretrain_data.pth
pretrain*.py
nohup.out
trainer_train_MLP12*.py
trainer_test_MLP12*.py


plot.py
grad_check.py
test.py
test.ipynb
test_8bit.ipynb
z_test_simple.py


